<div style='margin-top: 90px;'>
  <%= render partial: 'search_form', locals: { margin: 2 } %>
</div>
<div class='container-fluid' style='margin-top: 10px'>
  <div class='row'>
    <div class='col-12'>
      <!-- <h2>Results</h2> -->
    </div>
  </div>
  <% @results.each do |result| %>
    <%= render partial: 'result', locals: { result: result } %>
  <% end %>
</div>
