$kasaz-green: #1cc168;
$kasaz-lighter-purple: #fbf8fe;
$kasaz-light-purple: #bfbedf;
$kasaz-purple: #722AA0;
$kasaz-darkish-purple: #3D0F56;
$kasaz-dark-purple: #200c2a;
$kasaz-blue: #334c97;
$kasaz-cyan: #78bfee;
$kasaz-cyan-2: #3997cc;
$kasaz-red: #ff4136;
$kasaz-pink: #EF6D6D;
$kasaz-fuchsia: #A30D68;
$kasaz-gray-03: #f9f9f9;
$kasaz-light-gray: #f2f3f2;
$kasaz-lightish-gray: #e3e3e3;
$kasaz-grayish: #dfdfdf;
$kasaz-gray-04: #c5c5c5;
$kasaz-gray: #b9b9b9;
$kasaz-dark-gray: #999;
$kasaz-darkish-gray: #808080;
$kasaz-darker-gray: #666;
$kasaz-darkerer-gray: #474747;
$kasaz-darkest-gray: #333;
$kasaz-text-gray: #474e52;
$kasaz-background-gray: #fafafa;
$kasaz-black: #1b1b1b;
$kasaz-homepage-black: #484848;
/* colors from lci search */
$light-gray: #ebebef;
$main-font: "Open Sans", sans-serif;
$light-font: "Roboto Light", sans-serif;
$raleway-font: "Raleway", sans-serif;
$primary-darker: #345b9d;
$primary-darker-er: #253c5d;
$primary-darkest: #0e151f;